<h1>Welcome Admin</h1>

<div class = 'container'>
  <aside>
    <h3>Navigation Menu</h3>
    <ul>
      <li><a [routerLink]="['/admin', 'AdminDashboard']">ScreenTime</a></li>
      <li><a [routerLink]="['/admin', 'AdminDashboard', 'adminMovies']">Movies</a></li>
      <li><a [routerLink]="['/admin', 'AdminDashboard', 'adminTheather']">Theaters</a></li>
      
    </ul>
  </aside>
</div>



<table>
  <tr>
   
    <th>Screen Time</th>
    <th>Movie Title</th>
    <th>Theater Name</th>
    <th>Actions</th>
  </tr>
  <tr *ngFor="let screening of screenings">
    <td>{{screening.screenTime1}}</td>
    <td>{{screening.movie.title}}</td>
    <td>{{screening.theather.name}}</td>
    <td>
      <button >Edit</button>
      <button>Remove</button>
    </td>
  </tr>
</table>