<h1>Welcome Admin</h1>

<div class = 'container'>
  <aside>
    <h3>Navigation Menu</h3>
    <ul>
      <li><a [routerLink]="['/admin', 'AdminDashboard']">ScreenTime</a></li>
      <li><a [routerLink]="['/admin', 'AdminDashboard', 'adminMovies']">Movies</a></li>
      <li><a [routerLink]="['/admin', 'AdminDashboard', 'adminTheather']">Theaters</a></li>

    </ul>
  </aside>
</div>



<table>
  <tr>
    <th>Name</th>
    <th>State</th>
    <th>City</th>
    <th>ZipCode</th>
    <th>Seat Capcity</th>
    <th>Actions</th>
  </tr>
  @for (theather of theathers; track $index) {
    <tr>
      <td>
        @if (!theather.isEditable) {
          <span>{{theather.name}}</span>
        } @else {
          <input [(ngModel)]="theather.name">
        }
      </td>
      <!-- Repeat for other fields -->

      <td>
        @if (!theather.isEditable) {
          <span>{{theather.state}}</span>
        } @else {
          <input [(ngModel)]="theather.state">
        }
      </td>


      <td>
        @if (!theather.isEditable) {
          <span>{{theather.city}}</span>
        } @else {
          <input [(ngModel)]="theather.city">
        }
        </td>


        <td>
          @if (!theather.isEditable) {
            <span>{{theather.zipcode}}</span>
          } @else {
            <input [(ngModel)]="theather.zipcode">
          }
          </td>

          <td>
            @if (!theather.isEditable) {
              <span>{{theather.seatCapacity}}</span>
            } @else {
              <input [(ngModel)]="theather.seatCapacity">
            }
            </td>

          <td>
            <button (click)="editTheather(theather.theatherId, theather)">Edit</button>
            <button (click)="removeTheather(theather.theatherId)">Remove</button>
          </td>

        }
</table>