<h1>Welcome Admin</h1>

<div class = 'container'>
  <aside>
    <h3>Navigation Menu</h3>
    <ul>
      <li><a [routerLink]="['/admin', 'AdminDashboard']">ScreenTime</a></li>
      <li><a [routerLink]="['/admin', 'AdminDashboard', 'adminMovies']">Movies</a></li>
      <li><a [routerLink]="['/admin', 'AdminDashboard', 'adminTheather']">Theaters</a></li>

    </ul>
  </aside>
</div>



<table>
  <tr>
    <th>Name</th>
    <th>State</th>
    <th>City</th>
    <th>ZipCode</th>
    <th>Seat Capcity</th>
    <th>Actions</th>
  </tr>
  <tr *ngFor="let theather of theathers">
    <td>{{theather.name}}</td>
    <td>{{theather.state}}</td>
    <td>{{theather.city}}</td>
    <td>{{theather.zipcode}}</td>
    <td>{{theather.seatCapacity}}</td>
    <td>
      <button >Edit</button>
      <button>Remove</button>
    </td>
  </tr>
</table>