<h1>Welcome Admin</h1>

<div class = 'container'>
  <aside>
    <h3>Navigation Menu</h3>
    <ul>
      <li><a [routerLink]="['/admin', 'AdminDashboard']">ScreenTime</a></li>
      <li><a [routerLink]="['/admin', 'AdminDashboard', 'adminMovies']">Movies</a></li>
      <li><a [routerLink]="['/admin', 'AdminDashboard', 'adminTheather']">Theaters</a></li>

    </ul>
  </aside>
</div>



<table>
  <tr>
    <th>Title</th>
    <th>director</th>
    <th>genre</th>
    <th>rating</th>
    <th>runtime</th>
    <th>releaseYear</th>
    <th>Actions</th>
  </tr>

  @for (movie of allMovies; track movie) {
    <tr>
      <td>
        @if (!movie.isEditable) {
          <span>{{movie.title}}</span>
        } @else {
          <input [(ngModel)]="movie.title">
        }
      </td>
      <!-- Repeat for other fields -->

      <td>
        @if (!movie.isEditable) {
          <span>{{movie.director}}</span>
        } @else {
          <input [(ngModel)]="movie.director">
        }
      </td>


      <td>
        @if (!movie.isEditable) {
          <span>{{movie.genre}}</span>
        } @else {
          <input [(ngModel)]="movie.genre">
        }
      </td>


      <td>
        @if (!movie.isEditable) {
          <span>{{movie.rating}}</span>
        } @else {
          <input [(ngModel)]="movie.rating">
        }
      </td>

      <td>
        @if (!movie.isEditable) {
          <span>{{movie.runtime}}</span>
        } @else {
          <input [(ngModel)]="movie.runtime">
        }
      </td>

      <td>
        @if (!movie.isEditable) {
          <span>{{movie.releaseYear}}</span>
        } @else {
          <input [(ngModel)]="movie.releaseYear">
        }
      </td>


      <td>
        @if(!movie.isNew){
          <button (click)="editMovie(movie)">Edit</button>

          <button (click)="removeMovie(movie.movieId)">Remove</button>
        }

        @else {
          <button (click)="submitMovie(movie)">submit</button>
        } 
      </td>
    </tr>
  }
</table>

<button id = 'modify' (click)="addMovie()">Add Movie</button>