body {
    font-family: Arial, sans-serif;
  }

  .container {
    display: flex ;



  } 
  
  aside {
    background-color: #f0f0f0;
    padding: 15px;

    margin-bottom: 10px;
    flex: 1
  }
  
  aside h3 {
    color: #333;
    margin-bottom: 10px;
  }
  
  aside ul {
    list-style-type: none;
    padding: 0;
  }
  
  aside ul li a {
    color: #333;
    text-decoration: none;
  }
  aside ul li a:hover {
    color: red; 
  } 
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 10px;
    flex: 2; 
  }
  
  table, th, td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  table th {
    background-color: red;
    color: white;
  }
  
  table tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  table button {
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
  }
  
  table button:hover {
    background-color: #45a049;
  }
  
#modify {
  background-color: red;
  color: white;  
  padding: 5px; 
  width: 100% ; 
}

#modify:hover {
  background-color: green;
} 