<h1>Welcome. here's a list of movies in our disposal</h1>

<div class="grid-container">
  @for (x of Movie_List; track $index) {
    <div class="movie-poster" (click)="redirectMovieInfo(x)">
      <img src="./assets/IMG/comming_soon_now.jpg" alt = "movie Poster">
      <p>{{x.title}}</p>
    </div>
  }
  
 
</div>

<div class = 'aside_contain'>
  <h3>Narrow down your chocie</h3>

  <label>Genre</label>

  <select (change) = 'onSelectMoviesGenere(movie_Selected.genre)' [(ngModel)] = 'movie_Selected.genre'>
    <option value="any">Any Genre</option>
    @for (item of genreList; track $index) {
      <option [value]="item">{{item}}</option>
    }
  </select>

  <label>Ratings</label>
  <select (change)="onSelectedRating(movie_Selected.Rating)" [(ngModel)] = 'movie_Selected.Rating'>
    <option value="any">Any Rating</option>
    @for (item of RatingList; track $index) {
      <option [value]="item">{{item}}</option>
    }
  </select>

  <label>Realse Year</label>
  <select (change)="onSelectRealseYear(movie_Selected.realseYear)" [(ngModel)]="movie_Selected.realseYear">
    <option value="any">Any Year</option>
    @for (item of RealseYear; track $index) {
      <option [value]="item">{{item}}</option>
    }
  </select>


</div>