<h1>Welcome. here's a list of movies in our disposal</h1>

<div class="grid-container">
  @for (x of Movie_List; track $index) {
    <div class="movie-poster">
      <img src="./assets/IMG/comming_soon_now.jpg" alt = "movie Poster">
      <p>{{x.title}}</p>
    </div>
  }
  
 
</div>

<div class = 'aside_contain'>
  <h3>Narrow down your chocie</h3>

  <label>Genre</label>
  <select>
    <option>Any Genre</option>
    @for (item of genreList; track $index) {
      <option>{{item}}</option>
    }
  </select>

  <label>Ratings</label>
  <select>
    <option>Any Rating</option>
    @for (item of RatingList; track $index) {
      <option>{{item}}</option>
    }
  </select>

  <label>Realse Year</label>
  <select>
    <option>Any Year</option>
    @for (item of RealseYear; track $index) {
      <option>{{item}}</option>
    }
  </select>


</div>